// ####################################################### DEMO
/* General Demo Style */
.triptico{
	width: 100%;
	position: relative;
}
.clr{
	clear: both;
	padding: 0;
	height: 0;
	margin: 0;
}
.triptico > header{
	margin: 10px 10px 0px 10px;
	padding: 20px 10px 0px 10px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.triptico > header h1{
	font-size: 36px;
	line-height: 36px;
	margin: 0;
	position: relative;
	font-weight: 300;
	color: #666;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.7);
}
.triptico > header h1 span{
	font-weight: 700;
}
.triptico > header h2{
	font-size: 14px;
	font-weight: 300;
	margin: 0;
	padding: 15px 0 5px 0;
	color: #666;
	font-family: Cambria, Georgia, serif;
	font-style: italic;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.9);
}
.triptico > header h2 strong{
	color: #781430;
}

.triptico .triptico .main{
	width: 672px;
	height: 480px;
	padding: 30px 0;
	margin: 0 auto;
	position: relative;
  overflow: hidden;

	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
// ####################################################### DEMO




// ######################################################## COMMON
.triptico .view {
	width: 316px;
	height: 216px;
	margin: 10px;
	float: left;
	position: relative;
	border: 8px solid #fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
	background: #333;
	-webkit-perspective: 500px;
	-moz-perspective: 500px;
	-o-perspective: 500px;
	-ms-perspective: 500px;
	perspective: 500px;
}

.triptico .view .slice{
	width: 60px;
	height: 100%;
	z-index: 5100;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;

	-webkit-transition: -webkit-transform 150ms ease-in-out;
	-moz-transition: -moz-transform 150ms ease-in-out;
	-o-transition: -o-transform 150ms ease-in-out;
	-ms-transition: -ms-transform 150ms ease-in-out;
	transition: transform 150ms ease-in-out;

}

.triptico .view div.triptico .view-back{
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	background: #666;
	z-index: 0;
}

.triptico .view-back span {
	display: block;
	float: right;
	padding: 5px 20px 5px;
	width: 100%;
	text-align: right;
	font-size: 16px;
	color: rgba(255,255,255,0.6);
}

.triptico .view-back span:first-child {
	padding-top: 20px;
}

.triptico .view-back a {
	display: bock;
	font-size: 18px;
	color: rgba(255,255,255,0.4);
	position: absolute;
	right: 15px;
	bottom: 15px;
	border: 2px solid rgba(255,255,255,0.3);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 22px;
	text-align: center;
	font-weight: 700;
}

.triptico .view-back a:hover {
	color: #fff;
	border-color: #fff;
}

.triptico .view-back span[data-icon]:before {
    content: attr(data-icon);
    font-family: 'icons';
    color: #aaa;
	color: rgba(255,255,255,0.2);
	text-shadow: 0 0 1px rgba(255,255,255,0.2);
	padding-right: 5px;
}

.triptico .view .s2,
.triptico .view .s3,
.triptico .view .s4,
.triptico .view .s5 {
	-webkit-transform: translate3d(60px,0,0);
	-moz-transform: translate3d(60px,0,0);
	-o-transform: translate3d(60px,0,0);
	-ms-transform: translate3d(60px,0,0);
	transform: translate3d(60px,0,0);
}
.triptico .view .s1 {
	background-position: 0px 0px;
}
.triptico .view .s2 {
	background-position: -60px 0px;
}
.triptico .view .s3 {
	background-position: -120px 0px;
}
.triptico .view .s4 {
	background-position: -180px 0px;
}
.triptico .view .s5 {
	background-position: -240px 0px;
}

.triptico .view .overlay {
	width: 60px;
	height: 100%;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity 150ms ease-in-out;
	-moz-transition: opacity 150ms ease-in-out;
	-o-transition: opacity 150ms ease-in-out;
	-ms-transition: opacity 150ms ease-in-out;
	transition: opacity 150ms ease-in-out;
}

.triptico .view:hover .overlay {
	opacity: 1;
}

.triptico .view img {
	position: absolute;
  z-index: 0;
  // width: 100%;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	-moz-transition: left 0.3s ease-in-out;
	-ms-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

// ######################################################## COMMON




// ######################################################### STYLE 1
// .triptico .view:hover .s2{
// 	-webkit-transform: translate3d(59px,0,0) rotate3d(0,1,0,-45deg);
// 	-moz-transform: translate3d(59px,0,0) rotate3d(0,1,0,-45deg);
// 	-o-transform: translate3d(59px,0,0) rotate3d(0,1,0,-45deg);
// 	-ms-transform: translate3d(59px,0,0) rotate3d(0,1,0,-45deg);
// 	transform: translate3d(59px,0,0) rotate3d(0,1,0,-45deg);
// }
// .triptico .view:hover .s3,
// .triptico .view:hover .s5{
// 	-webkit-transform: translate3d(59px,0,0) rotate3d(0,1,0,90deg);
// 	-moz-transform: translate3d(59px,0,0) rotate3d(0,1,0,90deg);
// 	-o-transform: translate3d(59px,0,0) rotate3d(0,1,0,90deg);
// 	-ms-transform: translate3d(59px,0,0) rotate3d(0,1,0,90deg);
// 	transform: translate3d(59px,0,0) rotate3d(0,1,0,90deg);
// }
// .triptico .view:hover .s4{
// 	-webkit-transform: translate3d(59px,0,0) rotate3d(0,1,0,-90deg);
// 	-moz-transform: translate3d(59px,0,0) rotate3d(0,1,0,-90deg);
// 	-o-transform: translate3d(59px,0,0) rotate3d(0,1,0,-90deg);
// 	-ms-transform: translate3d(59px,0,0) rotate3d(0,1,0,-90deg);
// 	transform: translate3d(59px,0,0) rotate3d(0,1,0,-90deg);
// }

// .triptico .view .s1 > .overlay {
// 	background: -moz-linear-gradient(to left, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
// 	background: -webkit-linear-gradient(to left, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
// 	background: -o-linear-gradient(to left, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
// 	background: -ms-linear-gradient(to left, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
// 	background: linear-gradient(to left, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
// }

// .triptico .view .s2 > .overlay {
// 	background: -moz-linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
// 	background: -webkit-linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
// 	background: -o-linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
// 	background: -ms-linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
// 	background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
// }

// .triptico .view .s3 > .overlay {
// 	background: -moz-linear-gradient(to left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 100%);
// 	background: -webkit-linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
// 	background: -o-linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
// 	background: -ms-linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
// 	background: linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
// }

// .triptico .view .s4 > .overlay {
// 	background: -moz-linear-gradient(to left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
// 	background: -webkit-linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
// 	background: -o-linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
// 	background: -ms-linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
// 	background: linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
// }

// .triptico .view .s5 > .overlay {
// 	background: -moz-linear-gradient(to left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
// 	background: -webkit-linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
// 	background: -o-linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
// 	background: -ms-linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
// 	background: linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
// }
// #################################################### STYLE1

// ###################################################### style 2
// .triptico .view {
// 	-webkit-perspective: 800px;
// 	-moz-perspective: 800px;
// 	-o-perspective: 800px;
// 	-ms-perspective: 800px;
// 	perspective: 800px;
// }
// .triptico .view:hover .s1{
// 	-webkit-transition-delay: 200ms;
// 	-moz-transition-delay: 200ms;
// 	-o-transition-delay: 200ms;
// 	-ms-transition-delay: 200ms;
// 	transition-delay: 200ms;

// 	-webkit-transform: rotate3d(0,1,0,-3deg);
// 	-moz-transform: rotate3d(0,1,0,-3deg);
// 	-o-transform: rotate3d(0,1,0,-3deg);
// 	-ms-transform: rotate3d(0,1,0,-3deg);
// 	transform: rotate3d(0,1,0,-3deg);
// }
// .triptico .view:hover .s2{
// 	-webkit-transition-delay: 150ms;
// 	-moz-transition-delay: 150ms;
// 	-o-transition-delay: 150ms;
// 	-ms-transition-delay: 150ms;
// 	transition-delay: 150ms;

// 	-webkit-transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
// 	-moz-transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
// 	-o-transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
// 	-ms-transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
// 	transform: translate3d(59px,0,0) rotate3d(0,1,0,-10deg);
// }
// .triptico .view:hover .s3{
// 	-webkit-transition-delay: 100ms;
// 	-moz-transition-delay: 100ms;
// 	-o-transition-delay: 100ms;
// 	-ms-transition-delay: 100ms;
// 	transition-delay: 100ms;

// 	-webkit-transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
// 	-moz-transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
// 	-o-transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
// 	-ms-transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
// 	transform: translate3d(59px,0,0) rotate3d(0,1,0,-16deg);
// }
// .triptico .view:hover .s4{
// 	-webkit-transition-delay: 50ms;
// 	-moz-transition-delay: 50ms;
// 	-o-transition-delay: 50ms;
// 	-ms-transition-delay: 50ms;
// 	transition-delay: 50ms;

// 	-webkit-transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
// 	-moz-transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
// 	-o-transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
// 	-ms-transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
// 	transform: translate3d(59px,0,0) rotate3d(0,1,0,-30deg);
// }
// .triptico .view:hover .s5{
// 	-webkit-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
// 	-moz-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
// 	-o-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
// 	-ms-transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
// 	transform: translate3d(60px,0,0) rotate3d(0,1,0,-42deg);
// }

// .triptico .view .s4 > .overlay {
// 	background: -moz-linear-gradient(to left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
// 	background: -webkit-linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
// 	background: -o-linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
// 	background: -ms-linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
// 	background: linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
// }

// .triptico .view .s5 > .overlay {
// 	background: -moz-linear-gradient(to left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
// 	background: -webkit-linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
// 	background: -o-linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
// 	background: -ms-linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
// 	background: linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
// }

// .triptico .view div.triptico .view-back{
// 	background: #0a0a0a;
// 	background: -moz-linear-gradient(left, #0a0a0a 0%, #666666 100%);
// 	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0a0a0a), color-stop(100%,#666666));
// 	background: -webkit-linear-gradient(left, #0a0a0a 0%,#666666 100%);
// 	background: -o-linear-gradient(left, #0a0a0a 0%,#666666 100%);
// 	background: -ms-linear-gradient(left, #0a0a0a 0%,#666666 100%);
// 	background: linear-gradient(left, #0a0a0a 0%,#666666 100%);
// }
// ###################################################### style2

// ###################################################### style 3
// .v.triptico iew {
//   -webkit-perspective: 1000px;
//   -moz-perspective: 1000px;
//   -o-perspective: 1000px;
//   -ms-perspective: 1000px;
//   perspective: 1000px;
// }

// .triptico .view:hover .s1 {
//   -webkit-transform: rotate3d(0, 1, 0, -55deg);
//   -moz-transform: rotate3d(0, 1, 0, -55deg);
//   -o-transform: rotate3d(0, 1, 0, -55deg);
//   -ms-transform: rotate3d(0, 1, 0, -55deg);
//   transform: rotate3d(0, 1, 0, -55deg);
// }

// .triptico .view:hover .s2,
// .triptico .view:hover .s5 {
//   -webkit-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 20deg);
//   -moz-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 20deg);
//   -o-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 20deg);
//   -ms-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 20deg);
//   transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 20deg);
// }

// .triptico .view:hover .s3 {
//   -webkit-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 30deg);
//   -moz-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 30deg);
//   -o-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 30deg);
//   -ms-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 30deg);
//   transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 30deg);
// }

// .triptico .view:hover .s4 {
//   -webkit-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 40deg);
//   -moz-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 40deg);
//   -o-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 40deg);
//   -ms-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 40deg);
//   transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 40deg);
// }

// .triptico .view .s1>.overlay {
//   background: -moz-linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
//   background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
//   background: -o-linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
//   background: -ms-linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
//   background: linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
// }

// .triptico .view .s5>.overlay {
//   background: -moz-linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
//   background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
//   background: -o-linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
//   background: -ms-linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
//   background: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
// }
// ###################################################### style 3

// ###################################################### style 4
// .triptico .view {
//   -webkit-perspective: 1050px;
//   -moz-perspective: 1050px;
//   -o-perspective: 1050px;
//   -ms-perspective: 1050px;
//   perspective: 1050px;
// }

// .triptico .view div {
//   -webkit-transition: all 150ms ease-in-out;
//   -moz-transition: all 0.3s ease-in-out;
//   -o-transition: all 0.3s ease-in-out;
//   -ms-transition: all 0.3s ease-in-out;
//   transition: all 0.3s ease-in-out;
// }

// .triptico .view:hover .s3 {
//   -webkit-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, -55deg);
//   -moz-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, -55deg);
//   -o-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, -55deg);
//   -ms-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, -55deg);
//   transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, -55deg);
// }

// .triptico .view:hover .s4 {
//   -webkit-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 110deg);
//   -moz-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 110deg);
//   -o-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 110deg);
//   -ms-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 110deg);
//   transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, 110deg);
// }

// .triptico .view:hover .s5 {
//   -webkit-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, -110deg);
//   -moz-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, -110deg);
//   -o-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, -110deg);
//   -ms-transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, -110deg);
//   transform: translate3d(59px, 0, 0) rotate3d(0, 1, 0, -110deg);
// }

// .triptico .view .s2>.overlay {
//   background: -moz-linear-gradient(to left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
//   background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
//   background: -o-linear-gradient(to left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
//   background: -ms-linear-gradient(to left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
//   background: linear-gradient(to left, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0) 100%);
// }

// .triptico .view .s3>.overlay {
//   background: -moz-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
//   background: -webkit-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
//   background: -o-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
//   background: -ms-linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
//   background: linear-gradient(to left, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.2) 100%);
// }

// .triptico .view .s4>.overlay {
//   background: -moz-linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 100%);
//   background: -webkit-linear-gradient(to left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 100%);
//   background: -o-linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 100%);
//   background: -ms-linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 100%);
//   background: linear-gradient(to left, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.2) 100%);
// }

// .triptico .view .s5>.overlay {
//   background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
//   background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
//   background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
//   background: -ms-linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
//   background: linear-gradient(left, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
// }

// .triptico .view div.triptico .view-back {
//   background: #0a0a0a;
//   background: -moz-linear-gradient(to left, #0a0a0a 0%, #666666 100%);
//   background: -webkit-gradient(linear, left top, right top, color-stop(0%, #0a0a0a), color-stop(100%, #666666));
//   background: -webkit-linear-gradient(to left, #0a0a0a 0%, #666666 100%);
//   background: -o-linear-gradient(to left, #0a0a0a 0%, #666666 100%);
//   background: -ms-linear-gradient(to left, #0a0a0a 0%, #666666 100%);
//   background: linear-gradient(to left, #0a0a0a 0%, #666666 100%);
// }
// ####################################################### style 4

// ###################################################### style 5
.triptico .main {
	// width: 996px;
  // height: 416px;
  width: 784px;
	height: 496px;
  overflow: visible;
}

.triptico .view {
  width: 784px;  // 788px;
	height: 496px; // 480px;
	margin: 0px;
	float: left;
	position: relative;
	border: 8px solid #fff;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.05);
	background: #333;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
  perspective: 1000px;
  background-attachment: fixed;
}

.triptico .view .slice{
	width: 196px;
	// height: 100%;
	// z-index: 5100;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;

	-webkit-transform-origin: left center;
	-moz-transform-origin: left center;
	-o-transform-origin: left center;
	-ms-transform-origin: left center;
	transform-origin: left center;

	-webkit-transition: -webkit-transform 150ms ease-in-out;
	-moz-transition: -moz-transform 150ms ease-in-out;
	-o-transition: -o-transform 150ms ease-in-out;
	-ms-transition: -ms-transform 150ms ease-in-out;
  transition: transform 150ms ease-in-out;

      /* Center the background image */
      background-position: center;
      /* Set the background image to no repeat */
      background-repeat: no-repeat;
      /* Scale the background image to be as large as possible */
      background-size:  768px 496px ;

}
// button cbd-mollecule

.over-slider{
  z-index: 4000;
}
.btn-cbd{
  position: absolute;
  bottom: 30px;
  right: 60px;
  padding: 5px;
  width: 160px;
  height: 40px;
  font-size: 14px;
  font-weight: 900;
  text-align: left;
  color: #fff;
        /* degradado */
        background: -moz-linear-gradient(to left, #0a0a0a 0%, #666666 100%);
        background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0a0a0a), color-stop(100%,#666666));
        background: -webkit-linear-gradient(to left, #0a0a0a 0%,#666666 100%);
        background: -o-linear-gradient(to left, #0a0a0a 0%,#666666 100%);
        background: -ms-linear-gradient(to left, #0a0a0a 0%,#666666 100%);
        background: linear-gradient(to left, #0a0a0a 0%,#666666 100%);
        /* bordes y sombras */
        border: 2px solid @v-black;
        .button-stiled;
         /* image del button*/
        background-color: #444349;
        background-image : url(../../images/content/OBJECTS/SLIDER/02_info_salud/buton-moleculecbd.png);
        /* Center the background image */
        background-position: right;
        /* Set the background image to no repeat */
        background-repeat: no-repeat;
        /* Scale the background image to be as large as possible */
        background-size:  100px 40px ;

            /* transiciones */
            -webkit-transition: bottom 1s, right ease 1s; /* Safari */
            transition: bottom 1s, right ease 1s;

}
.btn-cbd:hover {
  // degradado
  .my-note;
  bottom: 35px;
  right: 50px;
}

.btn-cbd:hover::after{
  content: " Download free";
}



.triptico .view div.triptico .view-back{
	width: 50%;
	height: 100%;
	position: absolute;
	right: 0;
	z-index: 0;
	background: #0a0a0a;
	background: -moz-linear-gradient(to left, #0a0a0a 0%, #666666 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#0a0a0a), color-stop(100%,#666666));
	background: -webkit-linear-gradient(to left, #0a0a0a 0%,#666666 100%);
	background: -o-linear-gradient(to left, #0a0a0a 0%,#666666 100%);
	background: -ms-linear-gradient(to left, #0a0a0a 0%,#666666 100%);
	background: linear-gradient(to left, #0a0a0a 0%,#666666 100%);
}

.triptico .view-back span {
	display: block;
	float: right;
	padding: 500px 20px 5px;
	width: 100%;
	text-align: right;
	font-size: 16px;
	color: rgba(255,255,255,0.6);
}

.triptico .view-back span:first-child {
	padding-top: 220px;
}

.triptico .view-back a {
	display: bock;
	font-size: 18px;
	color: rgba(255,255,255,0.4);
	position: absolute;
	right: 15px;
	bottom: 15px;
	border: 2px solid rgba(255,255,255,0.3);
	border-radius: 50%;
	width: 30px;
	height: 30px;
	line-height: 22px;
	text-align: center;
	font-weight: 700;
}

.triptico .view-back a:hover {
	color: #fff;
	border-color: #fff;
}

.triptico .view-back span[data-icon]:before {
    content: attr(data-icon);
    font-family: 'icons';
    color: #aaa;
	color: rgba(255,255,255,0.2);
	text-shadow: 0 0 1px rgba(255,255,255,0.2);
	padding-right: 5px;
}

.triptico .view .s2,
.triptico .view .s3,
.triptico .view .s4 { //.triptico .view .s5
	-webkit-transform: translate3d(196px,0,0);
	-moz-transform: translate3d(196px,0,0);
	-o-transform: translate3d(196px,0,0);
	-ms-transform: translate3d(196px,0,0);
	transform: translate3d(196px,0,0);
}
.triptico .view .s1 {
	background-position: 0px 0px;
}
.triptico .view .s2 {
	background-position: -196px 0px;
}
.triptico .view .s3 {
	background-position: -392px 0px;
}
.triptico .view .s4 {
	background-position: -588px 0px;
}
// .triptico .view .s5 {
// 	background-position: -784px 0px;
// }

.triptico .view .overlay {
	width: 196px;
	height: 100%;
	opacity: 0;
	position: absolute;
	-webkit-transition: opacity 150ms ease-in-out;
	-moz-transition: opacity 150ms ease-in-out;
	-o-transition: opacity 150ms ease-in-out;
	-ms-transition: opacity 150ms ease-in-out;
	transition: opacity 150ms ease-in-out;
}

.triptico .view:hover .overlay {
	opacity: 1;
}

.triptico .view img {
	position: absolute;
  z-index: 0;
	-webkit-transition: left 0.3s ease-in-out;
	-o-transition: left 0.3s ease-in-out;
	-moz-transition: left 0.3s ease-in-out;
	-ms-transition: left 0.3s ease-in-out;
	transition: left 0.3s ease-in-out;
}

.triptico .view:hover .s2{
	-webkit-transform: translate3d(195px,0,0) rotate3d(0,1,0,-45deg);
	-moz-transform: translate3d(195px,0,0) rotate3d(0,1,0,-45deg);
	-o-transform: translate3d(195px,0,0) rotate3d(0,1,0,-45deg);
	-ms-transform: translate3d(195px,0,0) rotate3d(0,1,0,-45deg);
	transform: translate3d(195px,0,0) rotate3d(0,1,0,-45deg);
}
.triptico .view:hover .s3{  // .triptico .view .s5
	-webkit-transform: translate3d(195px,0,0) rotate3d(0,1,0,90deg);
	-moz-transform: translate3d(195px,0,0) rotate3d(0,1,0,90deg);
	-o-transform: translate3d(195px,0,0) rotate3d(0,1,0,90deg);
	-ms-transform: translate3d(195px,0,0) rotate3d(0,1,0,90deg);
	transform: translate3d(195px,0,0) rotate3d(0,1,0,90deg);
}
.triptico .view:hover .s4{
	-webkit-transform: translate3d(195px,0,0) rotate3d(0,1,0,-90deg);
	-moz-transform: translate3d(195px,0,0) rotate3d(0,1,0,-90deg);
	-o-transform: translate3d(195px,0,0) rotate3d(0,1,0,-90deg);
	-ms-transform: translate3d(195px,0,0) rotate3d(0,1,0,-90deg);
	transform: translate3d(195px,0,0) rotate3d(0,1,0,-90deg);
}

.triptico .view .s1 > .overlay {
	background: -moz-linear-gradient(to left, rgba(0,0,0,0.05) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(to left, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(to left, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(to left, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to left, rgba(0,0,0,0.05) 0%,rgba(0,0,0,0) 100%);
}

.triptico .view .s2 > .overlay {
	background: -moz-linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: -webkit-linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: -o-linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: -ms-linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
	background: linear-gradient(to left, rgba(255,255,255,0) 0%, rgba(255, 255, 255, 0.2) 100%);
}

.triptico .view .s3 > .overlay {
	background: -moz-linear-gradient(to left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.2) 100%);
	background: -webkit-linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
	background: -o-linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
	background: -ms-linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
	background: linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.2) 100%);
}

.triptico .view .s4 > .overlay {
	background: -moz-linear-gradient(to left, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to left, rgba(0,0,0,0.8) 0%,rgba(0,0,0,0) 100%);
}


.triptico .view .s5 > .overlay {
	background: -moz-linear-gradient(to left, rgba(0,0,0,0.3) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -o-linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: -ms-linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(to left, rgba(0,0,0,0.3) 0%,rgba(0,0,0,0) 100%);
 }

.triptico .up {
  position: relative;
  top: 120px;
}

// ###################################################### style 5
