<!-- ########################################################################################### Head/header.less ################## -->
<!-- ###############################################################  jumbotrom-->
<!-- <img class="OBJ_3d" src="assets/images/content/OBJECTS/2D/cbd-oil-125-mg.png" alt="objetos 3d renderizados: un mini bote de aceite de CBD"> -->
<!-- <img class="OBJ_3d" src="assets/images/content/OBJECTS/2D/THC-molecule-450x300.png" alt="objetos 3d renderizados: molecula de THC-molecule-450x300"> -->
<!-- <img class="OBJ_3d" src="assets/images/content/OBJECTS/2D/composicion_botes-600x300.png" alt="objetos 3d renderizados: "> -->
<!-- <img class="OBJ_3d" src="assets/images/content/OBJECTS/2D/cbd-oil-1000-mg.png" alt="objetos 3d renderizados: "> -->

<div class="jumbotron-fluid disappear zx_2000">

    <!-- ### row ### -->
    <div class="row">
        <!-- Horizontal Filter  -->
        <div class="blog_filter boxed ">
            <!-- ############## LOGO LETTERS -->
            <div class="my-sm-0 logo-wrapper">
                <div class="wrap-letters">
                    <!-- <h1 class='logo elegantshadow'>Elegant Shadow</h1> -->
                    <!-- <h1 class='logo deepshadow'>deep Shadow</h1>
                    <h1 class='logo insetshadow'>Inset Shadow</h1> -->
                    <!-- <h1 class='logo retroshadow'>Retro Shadow</h1> -->
                    <h1 class='logo'><a>AVR Inmobiliarias</a></h1>

                </div>
                <h2 class="lead logo deepshadow">Your trusted online shop for inmuebles in costa del sol </h2>
            </div>
            <!-- ############## LOGO LETTERS -->

        </div>
        <!--/ Horizontal Filter -->
    </div>
    <!-- ### row ### -->
</div>
<!-- ###############################################################  jumbotrom-->

<!-- ###############################################################  row  | menu2 :icons2-->
<div class="row sticky-over">
    <!-- ##################### Main/menu2.less ################ -->
    <!-- Horizontal Filter -->
    <div class="myboxed blog_filter icons2 clearfix">
        <!-- boxed o myboxed da el estilo a la caja, blog_filter y icons el tipo de iconos, clearfix añade un clear-->

        <!-- ##### button menu collapse -->
        <a class="nav-link dropdown-toggle oculto" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
            <button type="button" class="navbar-toggle floatleft" data-toggle="collapse" data-target="#menucollapse">
                <h2 class="floatleft"><mat-icon>menu</mat-icon><span class="lead logo deepshadow">AVR Inmobiliarias</span></h2>
              </button>
        </a>
        <!-- ##### button menu collapse -->
        <!-- ##### Menu-bar collpase -->
        <div class="collapse navbar-collapse" id="menucollapse">

            <ul class="filter_menu">
                <!-- <li class="current-menu-item"> -->
                <li routerLinkActive="current-menu-item"><a [routerLink]="['/home']"><i class="ico-cat ico-cat-fire"></i>Home </a></li>
                <li routerLinkActive="current-menu-item"><a [routerLink]="['/products']"><i class="ico-cat ico-cat-fire"></i>Products </a></li>
                <li routerLinkActive="current-menu-item"><a [routerLink]="['/about']"><i class="ico-cat ico-cat-favorites"></i>About us</a></li>
                <li routerLinkActive="current-menu-item"><a [routerLink]="['/blog']"><i class="ico-cat ico-cat-comments"></i>Blog</a></li>
                <!-- <li><a href="#"><i class="ico-cat ico-cat-comments"></i>Comments</a></li> -->
                <li routerLinkActive="current-menu-item"><a [routerLink]="['/contact']"><i class="ico-cat ico-cat-movil"></i>Contact</a></li>
            </ul>
        </div>
        <!-- <div class="collapse navbar-collapse" id="menucollapse">

          <ul class="filter_menu">
              <li><a href="#"><i class="ico-cat ico-cat-movil"></i>Movil</a></li>
              <li><a href="#"><i class="ico-cat ico-cat-calendar"></i>Calendar</a></li>
              <li class="current-menu-item"><a href="#"><i class="ico-cat ico-cat-favorites"></i>Favorites</a></li>
              <li><a href="#"><i class="ico-cat ico-cat-fire"></i>Hot stuff</a></li>
              <li><a href="#"><i class="ico-cat ico-cat-comments"></i>Comments</a></li>
              <li><a href="#"><i class="ico-cat ico-cat-share"></i>Networking</a></li>
          </ul> -->
        <!-- </div> -->
        <!-- mas iconos por si los necesitas -->
        <!--
        <div class="boxed blog_filter icons1 clearfix">
            <ul class="filter_menu">
                <li><a href="#"><i class="ico-cat ico-cat-idea"></i>Idea</a></li>
                <li><a href="#"><i class="ico-cat ico-cat-tv"></i>tv</a></li>
                <li class="current-menu-item"><a href="#"><i class="ico-cat ico-cat-world"></i>world</a></li>
                <li><a href="#"><i class="ico-cat ico-cat-gaming"></i>gaming</a></li>
                <li><a href="#"><i class="ico-cat ico-cat-camera"></i>camera</a></li>
                <li><a href="#"><i class="ico-cat ico-cat-design"></i>design</a></li>
            </ul>
        </div> -->
        <!--/ Horizontal Filter -->
    </div>
    <!-- ##################### Main/menu2.less ################ -->


</div>
<!-- ############################################################### row | menu2 :icons2-->
<!-- ########################################################################################### Head/header.less ################## -->
