<!-- ##################### Main-center ###################### -->
<div class="col-sm-9 no-padding">
    <div class="content" role="main">
        <div class="post-item post-img boxed">
            <span class="post-label label-video"></span>
            <div class="inner">
                <div class="post-title">
                    <h2>
                        <a href="#" hidefocus="true" style="outline: none;">Why <span class="lead logo deepshadow">AVR Inmobiliary</span>
                      <span class="service_img"><img src="/assets/images/_plantilla-velvet/icons/service-icon-10.png" alt=""></span> look after the health of every client</a>
                    </h2>
                </div>
                <div class="post-image">
                    <div class="post-carousel">
                        <div id="myCarousel" class="carousel slide" data-interval="20000">
                            <!-- Carousel items -->
                            <div class="carousel-inner id1">
                                <!-- @@@@@@@@@@@ item 1 MEDIAPLAYER-->
                                <div class="item  active" data-button-to='0'>
                                    <!-- ##################### video ################ -->
                                    <div class="wrap-item">
                                        <!-- post item video -->
                                          <figure class="mediaplayer">
                                          	<video id="demo1" controls="controls" width="826" height="360" poster="assets/videos/poster_ra_videoexample_01.jpg" preload="metadata" aria-describedby="full-descript">
                                          		<!-- <source type="video/webm" src="https://acornmedia.herokuapp.com/media/tears_of_steel_480.webm" /> -->
                                          		<source type="video/mp4" src="assets/videos/ra_videoexample_02.mp4" />
                                             		<track src="assets/js/_libs/acorn/subs/TOS-arabic.srt" kind="subtitles" srclang="ar" label="Arabic" />
                                             		<track src="assets/js/_libs/acorn/subs/TOS-japanese.srt" kind="subtitles" srclang="jp" label="Japanese" />
                                             		<track src="assets/js/_libs/acorn/subs/TOS-english.srt" kind="subtitles" srclang="en" label="English" />
                                             		<track src="assets/js/_libs/acorn/subs/TOS-turkish.srt" kind="subtitles" srclang="tr" label="Turkish" />
                                             		<track src="assets/js/_libs/acorn/subs/TOS-ukrainian.srt" kind="subtitles" srclang="uk" label="Ukrainian" />

                                             		You can download Terms of mediaplayer<a href="https://www.avr3dstudio.com">AVR3DStudio.com</a>.
                                            </video>
                                            <!-- <figcaption id="full-descript">
                                            	<p><em>"Tears of Steel"</em> was realized with crowd-funding by users of the open source 3D creation tool <a href="http://www.blender.org">Blender</a>. Target was to improve and test a complete open and free pipeline for visual effects in film - and to make a compelling sci-fi film in Amsterdam, the Netherlands. </p>
                                             	<p>(CC) Blender Foundation - <a href="http://www.tearsofsteel.org">http://www.tearsofsteel.org</a></p>
                                            </figcaption> -->
                                          </figure>

                                          <!-- <figure>
                                          <audio id="demo1-audio" aria-describedby="demo1-audio-descript">
                                            <source type="audio/ogg" src="https://acornmedia.herokuapp.com/media/ptburnem-gypsyheartrock.ogg" />
                                            <source type="audio/mp3" src="https://acornmedia.herokuapp.com/media/ptburnem-gypsyheartrock.mp3" />
                                          </audio>
                                          <figcaption id="demo1-audiodescript">
                                            P.T.Burnem's track "Gypsy Heart Rock" from the "Paper Cranes" album.
                                          </figcaption>
                                          </figure> -->
                                        <!--/post item video -->
                                        <span class="spacer"></span>
                                        <div class="carousel-title gradient ui-title-video">
                                            <h6>
                                                <a href="#">
                                                    <span>¿Qué puede hacer la Realidad Aumentada por tu negocio?</span>
                                                </a>
                                            </h6>
                                        </div>
                                    </div>
                                    <!-- ##################### /fin video ################ -->
                                </div>
                                <!-- @@@@@@@@@@@ item 2 TRIPTICO-->
                                <div class="item" data-button-to='1'>
                                    <!-- ################## triptico ################# -->
                                    <div class="wrap-item">
                                        <div class="triptico">
                                            <div id="grid" class="main">
                                                <div class="view">
                                                    <div class="view-back">
                                                        <span data-icon="A">Nº 10</span>
                                                        <span data-icon="B">124</span>
                                                        <a class="up" href="">&rarr;</a>
                                                    </div>
                                                    <img src="assets/images/content/OBJECTS/SLIDER/02_info_salud/triptico/triptico_final_03.png" alt="Info understanding medical Cannabis">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="carousel-title gradient">
                                            <div class="over-slider " id="wrap-center">
                                                <!-- este enlace deberia descargar la app!!, pero angular lo capa    -->
                                                <a id="download-apk" class='btn-cbd' target="_self" download="revista.pdf" href="assets/Downloads/revista.pdf">APP-AR</a>


                                                <!-- <div class="view-atom">
                                                    <div class="plane main">
                                                        <div class="circle"></div>
                                                        <div class="circle"></div>
                                                        <div class="circle"></div>
                                                        <div class="circle"></div>
                                                        <div class="circle"></div>
                                                        <div class="circle"></div>
                                                    </div>
                                                </div> -->

                                            </div>
                                            <h6>Triptico Info </h6>
                                            <p>View Our  </p>
                                        </div>
                                    </div>
                                    <!-- ################## triptico ################# -->
                                </div>
                                <!-- @@@@@@@@@@@ item 3 FBX LOADER-->
                                <!-- <div class="item" data-button-to='2'> -->
                                    <!-- ##################### fbx loader ################ -->
                                    <!-- <div class="wrap-item">
                                        <div id="fbx-container"> -->
                                            <!-- contenido del fbx cargado -->
                                        <!-- </div>
                                        <div class="carousel-title gradient">
                                            <h6>3D Modelling House</h6>
                                            <p>Visor 3D para Inmuebles</p>
                                        </div>
                                    </div> -->
                                    <!-- ##################### /fbx loader ################ -->
                                <!-- </div> -->
                                <!-- @@@@@@@@@@@ item 4 GLTF LOADER-->
                                <div class="item" data-button-to='2'>
                                    <!-- ##################### gltf loader ################ -->
                                    <div class="wrap-item">
                                        <div id="gltf-container">
                                        </div>
                                        <div class="carousel-title gradient">
                                            <h6>3D Modelling Arquitecture</h6>
                                            <div id="pdb-menu"></div>
                                        </div>
                                    </div>
                                    <!-- ##################### /json loader ################ -->
                                </div>
                                <!-- @@@@@@@@@@@ item 5 -->
                                <!-- <div class="item" data-button-to='3'> -->
                                    <!-- ##################### obj loader ################ -->
                                    <!-- <div class="wrap-item">
                                        <div id="obj-container"> -->
                                            <!-- contenido de obj cargado -->
                                        <!-- </div>
                                        <div class="carousel-title gradient">
                                            <h6>
                                                <a href="#">
                                                    <span> Carga Objeto (.obj) </span>
                                                </a>
                                            </h6>
                                        </div>
                                    </div> -->
                                    <!-- ##################### /obj loader ################ -->
                                <!-- </div> -->
                                <!-- @@@@@@@@@@@ item 6 PANOKOLOR-->
                                <div class="item" data-button-to='3'>
                                    <!-- ##################### panokolor ################ -->
                                    <div class="wrap-item">
                                        <iframe id="panokolor"
                                        name="panokolor"
                                        title="panokolor"
                                        width="100%"
                                        height="400"
                                        frameborder="0"
                                        scrolling="no"
                                        marginheight="0"
                                        marginwidth="0" src="/assets/My-Objects/PANOKOLOR/index.html">
                                      </iframe>

                                        <!-- ################## _panokolor -->
                                        <div class="carousel-title gradient">
                                            <h6>
                                                <a href="#">
                                                    <i class="material-icons">3d_rotation</i>
                                                    <i class="myicons icon-cardboardvr"></i>
                                                    <span> Tour Virtual </span>
                                                </a>
                                            </h6>

                                        </div>
                                    </div>
                                    <!-- ##################### /panokolor ################ -->
                                </div>
                            </div>
                            <!-- Carousel indicators -->
                            <ol class="carousel-indicators" id="indicators">
                                <li data-target="#myCarousel" data-slide-to="0" class="first active"></li>
                                <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                                <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                                <li data-target="#myCarousel" data-slide-to="3" class="last"></li>

                                <!-- <li data-target="#myCarousel" data-slide-to="4" class=""></li> -->
                            </ol>
                            <!-- Carousel nav -->
                            <a class="carousel-control left" href="#myCarousel" data-slide="prev" hidefocus="true" style="outline: none;"></a>
                            <a class="carousel-control right" href="#myCarousel" data-slide="next" hidefocus="true" style="outline: none;"></a>
                        </div>
                    </div>
                </div>
                <div class="post-meta-top">Produced By <span class="post-date"> JohnMoon</span> & <span class="post-author">AVR 3D Studio</span></div>
                <div class="post-meta-likes"><a href="#" class="post-comm" hidefocus="true" style="outline: none;">3 comments</a><a href="#" class="post-like" hidefocus="true" style="outline: none;">15 likes</a></div>
                <div class="clear"></div>
            </div>
        </div>

    </div>
</div>
<!-- ##################### Main-center ###################### -->
