<!-- sistema de grillas y columnas con info-crossite by HttpClient -->
<div class="row">
    <div id="prd-top">

        <div class="shell">

            <!-- Header -->
            <div id="prd-header">
                <h1 class="prd-logo"><a href="#">3D Design </a></h1>
                <div id="prd-navigation">
                    <ul>

                        <li><a href="#">Support</a></li>
                        <li><a href="#">My Account</a></li>
                        <li><a href="#">The Store</a></li>

                    </ul>
                </div>
            </div>
            <!-- End Header -->

            <!-- Slider -->
            <div id="prd-carousel" class="carousel slide" data-interval="20000">
                <!-- Carousel items -->
                <div class="carousel-inner id1">
                    <!-- @@@@@@@@@@@ item 1 -->
                    <div class="item active" data-button-to='0'>
                        <div class="wrap-item">
                            <div class="post-image">
                                <a href="#"><img src="assets/images/content/PRODUCTS/slide3.jpg" alt="" /></a>
                            </div>
                            <span class="spacer"></span>
                            <div class="carousel-title gradient">
                                <h6>
                                    <a href="#">

                                      <span>Piso de tres habitaciones buen estado, Sant Andreu, Barcelona</span>
                                    </a>
                                </h6>
                                <h4>218.000 €</h4>
                                <p><span>Fantástico de 80m2 inmejorable ubicación, Muy bien situado, cerca de autobuses, rodeada de tiendas y comercios, restaurantes y cafeterías, y espacios verdes. Con tod </span></p>
                            </div>
                        </div>
                    </div>
                    <!-- @@@@@@@@@@@ item 2 -->
                    <div class="item " data-button-to='1'>
                        <div class="wrap-item">
                            <div class="post-image">
                                <a href="#"><img src="assets/images/content/PRODUCTS/slide4.jpg" alt="" /></a>
                            </div>
                            <div class="carousel-title gradient">
                              <h6><a href="#"><span>Piso de tres habitaciones buen estado, Sant Andreu, Barcelona</span></a></h6>
                              <h4>218.000 €</h4>
                              <p><span>Fantástico de 80m2 inmejorable ubicación, Muy bien situado, cerca de autobuses, rodeada de tiendas y comercios, restaurantes y cafeterías, y espacios verdes. Con tod </span></p>
                            </div>
                        </div>
                    </div>
                    <!-- @@@@@@@@@@@ item 3 -->
                    <div class="item " data-button-to='2'>
                        <div class="wrap-item">
                            <div class="post-image">
                                <a href="#"><img src="assets/images/content/PRODUCTS/slide5.jpg" alt="" /></a>
                            </div>
                            <span class="spacer"></span>
                            <div class="carousel-title gradient">
                              <h6><a href="#"><span>Piso de tres habitaciones buen estado, Sant Andreu, Barcelona</span></a></h6>
                              <h4>218.000 €</h4>
                              <p><span>Fantástico de 80m2 inmejorable ubicación, Muy bien situado, cerca de autobuses, rodeada de tiendas y comercios, restaurantes y cafeterías, y espacios verdes. Con tod </span></p>
                            </div>
                        </div>
                    </div>
                    <!-- @@@@@@@@@@@ item 4 -->
                    <div class="item" data-button-to='3'>
                        <div class="wrap-item">
                            <div class="post-image">
                                <a href="#"><img src="assets/images/content/PRODUCTS/slide6.jpg" alt="" /></a>
                            </div>
                            <div class="carousel-title gradient">
                              <h6><a href="#"><span>Piso de tres habitaciones buen estado, Sant Andreu, Barcelona</span></a></h6>
                              <h4>218.000 €</h4>
                              <p><span>Fantástico de 80m2 inmejorable ubicación, Muy bien situado, cerca de autobuses, rodeada de tiendas y comercios, restaurantes y cafeterías, y espacios verdes. Con tod </span></p>
                            </div>
                        </div>
                    </div>
                    <!-- @@@@@@@@@@@ item 5 -->
                    <div class="item " data-button-to='4'>
                        <div class="wrap-item">
                            <div class="post-image">
                                <a href="#"><img src="assets/images/content/PRODUCTS/slide7.jpg" alt="" /></a>
                            </div>
                            <span class="spacer"></span>
                            <div class="carousel-title gradient">
                              <h6><a href="#"><span>Piso de tres habitaciones buen estado, Sant Andreu, Barcelona</span></a></h6>
                              <h4>218.000 €</h4>
                              <p><span>Fantástico de 80m2 inmejorable ubicación, Muy bien situado, cerca de autobuses, rodeada de tiendas y comercios, restaurantes y cafeterías, y espacios verdes. Con tod </span></p>
                            </div>
                        </div>
                    </div>
                    <!-- @@@@@@@@@@@ item 6 -->
                    <div class="item" data-button-to='5'>
                        <div class="wrap-item">
                            <div class="post-image">
                                <a href="#"><img src="assets/images/content/PRODUCTS/slide8.jpg" alt="" /></a>
                            </div>
                            <div class="carousel-title gradient">
                              <h6><a href="#"><span>Piso de tres habitaciones buen estado, Sant Andreu, Barcelona</span></a></h6>
                              <h4>218.000 €</h4>
                              <p><span>Fantástico de 80m2 inmejorable ubicación, Muy bien situado, cerca de autobuses, rodeada de tiendas y comercios, restaurantes y cafeterías, y espacios verdes. Con tod </span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Carousel indicators -->
                <ol class="carousel-indicators" id="prd-indicators">
                    <li data-target="#prd-carousel" data-slide-to="0" class="first active"></li>
                    <li data-target="#prd-carousel" data-slide-to="1" class=""></li>
                    <li data-target="#prd-carousel" data-slide-to="2" class=""></li>
                    <li data-target="#prd-carousel" data-slide-to="3" class=""></li>
                    <li data-target="#prd-carousel" data-slide-to="4" class=""></li>
                    <li data-target="#prd-carousel" data-slide-to="5" class="last"></li>
                </ol>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#prd-carousel" data-slide="prev" hidefocus="true" style="outline: none;"></a>
                <a class="carousel-control right" href="#prd-carousel" data-slide="next" hidefocus="true" style="outline: none;"></a>
            </div>


            <!-- End Slider -->

        </div>
    </div>
    <!-- Top -->

</div>

<div class="cl"><br/></div>

<div class="row">
    <!-- Main -->
    <div id="prd-main">
        <div class="shell">

            <!-- Search, etc -->
            <div class="options">
                <div class="search">
                    <form action="" method="post">
                        <span class="field"><input type="text" class="blink" value="SEARCH" title="SEARCH" /></span>
                        <input type="text" class="search-submit" value="GO" />
                    </form>
                </div>
                <span class="left"><a href="#">Advanced Search</a></span>

                <div class="right">
                    <span class="cart">
                    <a href="#" class="cart-ico">&nbsp;</a>
                    <strong>$0.00</strong>
                  </span>
                    <span class="left more-links">
                    <a href="#">Checkout</a>
                    <a href="#">Details</a>
                  </span>
                </div>
            </div>
            <!-- End Search, etc -->

            <!-- Content -->
            <div id="prd-content">

                <!-- prd-Tabs -->
                <div class="prd-tabs">
                    <ul>
                        <li><a data-tabto='0' class="active"><span>Villas Costa del Sol</span></a></li>
                        <li><a data-tabto='1'><span>Luxury Aparments </span></a></li>
                        <li><a data-tabto='2' class="red"><span>Flat/Houses</span></a></li>
                    </ul>
                </div>
                <!-- prd-Tabs -->

                <!-- prd-Container -->
                <div id="prd-container">

                    <div class="tabbed">

                        <!-- First Tab Content -->
                        <div class="tab-content active">
                            <div class="items">
                                <div class="cl">&nbsp;</div>
                                <ul>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image5.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image6.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image7.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image8.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image9.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image5.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image7.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image9.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                </ul>
                                <div class="cl">&nbsp;</div>
                            </div>
                        </div>
                        <!-- End First Tab Content -->

                        <!-- Second Tab Content -->
                        <div class="tab-content">
                            <div class="items">
                                <div class="cl">&nbsp;</div>
                                <ul>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image9.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image8.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image7.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image6.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image5.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image9.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image8.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image7.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                </ul>
                                <div class="cl">&nbsp;</div>
                            </div>
                        </div>
                        <!-- End Second Tab Content -->

                        <!-- Third Tab Content -->
                        <div class="tab-content">
                            <div class="items">
                                <div class="cl">&nbsp;</div>
                                <ul>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image7.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image9.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image5.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image8.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image6.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image9.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image5.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image6.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>

                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image7.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image8.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image5.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image7.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image6.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image7.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image9.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                    <li>
                                        <div class="image">
                                            <a href="#"><img src="assets/images/content/PRODUCTS/image8.jpg" alt="" /></a>
                                        </div>
                                        <p>
                                            Item Number: <span>125515</span><br /> Size List : <span>8/8.5/9.5/10/11</span><br /> Brand Name: <a href="#">Adidas Shoes</a>
                                        </p>
                                        <p class="price">Wholesale Price: <strong>53 USD</strong></p>
                                    </li>
                                </ul>
                                <div class="cl">&nbsp;</div>
                            </div>
                        </div>
                        <!-- End Third Tab Content -->

                    </div>

                    <!-- Brands -->
                    <div class="brands">
                        <h3>Brands</h3>
                        <div class="logos">
                            <a href="#"><img src="assets/images/content/PRODUCTS/logo1.gif" alt="" /></a>
                            <a href="#"><img src="assets/images/content/PRODUCTS/logo2.gif" alt="" /></a>
                            <a href="#"><img src="assets/images/content/PRODUCTS/logo3.gif" alt="" /></a>
                            <a href="#"><img src="assets/images/content/PRODUCTS/logo4.gif" alt="" /></a>
                            <a href="#"><img src="assets/images/content/PRODUCTS/logo5.gif" alt="" /></a>
                        </div>
                    </div>
                    <!-- End Brands -->

                    <!-- Footer -->
                    <div id="prd-footer">
                        <div class="left">
                            <a href="#">Home</a>
                            <span>|</span>
                            <a href="#">Support</a>
                            <span>|</span>
                            <a href="#">My Account</a>
                            <span>|</span>
                            <a href="#">The Store</a>
                            <span>|</span>
                            <a href="#">Contact</a>
                        </div>
                        <div class="right">
                            &copy; Sitename.com. Design by
                            <a href="#" target=" _blank " title="CSS Templates "></a>
                        </div>
                    </div>
                    <!-- End Footer -->

                </div>
                <!-- End prd-Container -->

            </div>
            <!-- End Content -->

        </div>
    </div>
    <!-- End Main -->

</div>

<div class="cl "></div>

<!-- <div class="d-flex ">
    <mat-grid-list cols="4 " rowHeight="300px ">
        <mat-grid-tile class="info-http-cards " *ngFor="let data of (myData ? myData.slice(0, 12): []); let i=i ndex ">
            <mat-card>
                <img mat-card-image src="{{data.url}} ">

                <mat-card-header>
                    <mat-card-title>
                        {{data.title}}
                    </mat-card-title>
                </mat-card-header>

                <mat-card-actions>
                    <button mat-button>
          <mat-icon>heart-pulse</mat-icon> LIKE
        </button>
                    <button mat-button>
          <mat-icon>share-variant</mat-icon> SHARE
        </button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div> -->





<!--Card-->
<!-- <div class="card ">
    <div class="view hm-white-slight waves-light " mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(67).jpg " class="img-fluid " alt="Card image with a tree in a middle of a lake. ">
        <a>
            <div class="mask "></div>
        </a>
    </div>
    <div class="card-body ">
        <h4 class="card-title ">Card title</h4>
        <p class="card-text ">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a class="btn btn-primary waves-light " mdbWavesEffect>Button</a>
    </div>
</div> -->
<!--/.Card-->
