/* ESTOS EJEMPLOS NO SON USADOS PERO AQUI LOS TIENES POR SI LOS NECESITAS */
/* icono */
.example-header-image {
  background-image: url('../../images/corporativo/favicon.png');
  background-size: cover;
}
