/*
  @Author: "JUANLUNABLANCO"
  @Email: "avr3dstudio.jmlb@gmail.com"
  @ProjectName: "_AVR3DS"
  @Date: 20180321
  @file: "general.less"
  @description: "estilosgenericos de la pagina"

*/

// /* importaciones y uso de material-icons en app.component.css*/

// @import url(https://fonts.googleapis.com/icon?family=Roboto);
// @import url(https://fonts.googleapis.com/icon?family=Material+Icons);
// body {
//     font-family: Roboto;
// }

/*

CSS STRUCTURE:

1. GENERAL TYPOGRAPHY
	- Fonts
	- Global Reset
	- General Styles
	- Clear Floats
	- Typography
	- Buttons
	- Custom checkboxes, radios
	- Ribbons
	- Badges
	- Rating Stars

2. PAGE ITEMS, WIDGETS
	- Services
			- Services without background
			- Services with background
			- Services 3 columns without background
			- Services 3 column with background
	- Table Pricing
	- Clients Box
	- Sidebar widgets
			- Widget Categories
			- Widget Latest Stories, Latest Comments
			- Widget Tags
			- Widget Flickr
			- Widget Text
			- Widget Calendar
	- Post Items
			- Post Item Labels
			- Post Items Default Style
			- Post Items Style 2
			- Post Items Style 3
			- Post Items Style 4
			- Post Quotes
			- Post Images
			- Post Video
			- Post Audio
			- Post Intro Text
	- Popular Post Items
	- Comments
	- Forms
    	    - Comment Form, Contact Form
    	    - Contact Form without Background
    	    - Survey Form
    	    - Payment Form
    	    - Login Form
    	    - Search Form
    	    - Newsletter Form
	- Pagination
	- Dividers
	- Tabs
    	    - Sidebar Tabs
    	    - Content Tabs col-sm-8
    	    - Content Tabs col-sm-12
    	    - Content Tabs col-sm-6
    	    - Article Tabs
	- Toggles
	- Pull Quotes
	- Info Boxes
	- Main Menu
	- Filters
			- Horizontal Filter
			- Categories Filter
			- Checkbox Filter, Radiobox Filter
			- Filter Results
	- Sliders
			- Content image sliders
			- Most commented slider
			- Feature slider
	- Footers
			- Footer Default Style
			- Footer Dark
			- Footer Light

3. INDEX PAGE
    - Header (Kit Name)
	- Contact Form styled
	- Search Form styled
	- Progress Bars
	- Knobs
	- Tabs styled
	- Scroll Bars
	- Profile
	- Simple Graph
	- Image Slider
	- Notifications

/*===================================================*/


/* 1. GENERAL TYPOGRAPHY */


/*===================================================*/


/*-----------------------------------*/


/* Fonts */


/*-----------------------------------*/

@import url(http://fonts.googleapis.com/css?family=Cabin:400,500,600,700,400italic,500italic,600italic,700italic);

/*-----------------------------------*/


/* el body y el background del body (incluye js que está en general.js - sacado de velvet)*/
body {
  font-family: 'Cabin', sans-serif;
	font-weight: 600;
    color:#959da6;
	font-size: 16px;
	position: relative;
  // background:  url(/assets/images/bg-body04.png)  ; //url(/assets/images/bg.png);
  display: flex;
}
body {
//     /* Ubicación de la imagen */
    // background-image: url(/assets/images/backgrounds/bg-body17.jpg) ;
    /* Nos aseguramos que la imagen de fondo este centrada vertical y
     horizontalmente en todo momento */
    background-position: center center;
    /* La imagen de fondo no se repite */
    background-repeat: no-repeat;
    /* La imagen de fondo está fija en el viewport, de modo que no se mueva cuando
       la altura del contenido supere la altura de la imagen. */
    background-attachment: fixed;
    /* La imagen de fondo se reescala cuando se cambia el ancho de ventana
       del navegador */
    background-size: cover;
    /* Fijamos un color de fondo para que se muestre mientras se está
      cargando la imagen de fondo o si hay problemas para cargarla  */
    // background-color: #00846E;
    background-color: rgb(250, 229, 240);  // rgba(0,132,110,1);
}

.body_wrap{
    width: 100%;
    height: 100%;
}


// spaciadores, limpieza
.spacer{
  flex: 1 1 auto;
}

// #################################### sticky´s & Z-INDEX
// stickys
// jumbotrom
.zx_2000{
  position: sticky;
  top: -300px;
  z-index: 2000 !important;
}
// menu 1
.sticky-over{
  position: sticky;
  top: 0px;
  z-index: 2500;
}
// menu 2
.sticky {
  position: sticky;
  top: 70px;
  z-index: 2000;
}
// footer
.sticky-footer {
  position: sticky;
  bottom: 0;
  z-index: 2000;
}
// slider
.sticky-down{
  position: sticky;
  top: -60px;
  z-index: 1000;
}
// ################################  objetos 3d
.OBJ_3d {
  width: 300px;
  // border: 1px solid red; // visibilidad
}
// minicooper
.OBJ_3d:nth-child(1){
  position: relative;
  top: 0% !important;
  left: 20%;
}
// photo-camera
.OBJ_3d:nth-child(2){
  position: fixed;
  top: 100px;
  left: 100px;
  z-index: 1500;
}
// dron
.OBJ_3d:nth-child(3){
  position: fixed;
  top: 500px;
  left: 1400px;
  z-index: 1500;
}

// camera vr
.OBJ_3d:nth-child(4){
  position: fixed;
  top: 0px;
  right: 20%;
  z-index: 2000;
}

@media(max-width: 992px){
  .OBJ_3d {
    display: none;
  }
  .zx_2000{
    position: relative;
    top: 0px;
  }
}
// ################################  objetos 3d

.floatleft {
  float: left;
}
