/* modificado: para que cualquier elemento con la clase no-padding no tenga pading dentro,
  pero solo por denajo de estas  medidas y lo mismo con el no-margin */

  @media(max-width: 767px) {
    .no-padding {
        /* width: inherit; */
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .no-margin {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
    .container {
        margin-right: 0 !important;
        margin-left: 0 !important;
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    html {font-size: 11px !important;}
    h1.logo {
      font-size: 2rem;
      padding: 1rem .5rem;
    }
    .disappear{
      display: none;
    }
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important;
}

/* modificado */

@media (min-width: 768px) {
  .container {
      max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
      max-width: 970px;
  }
}
@media (min-width: 1200px) {
  /* modificado: afecta al container para anchuras superiores a 1200px */
  .container {
      max-width: 1170px;
  }
  /* .container {
      max-width: 970px;
  }*/
}
