/* mat-card*/
.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


/* FX-hover 3d thumb */
// @import url(https://fonts.googleapis.com/css?family=Open+Sans);


// body {
//     background: #ddd;
//     background: linear-gradient(#ddd, #e8e8e8);
//     font-family: 'Open Sans', sans-serif;
//     height: 100vh;
//     margin:0;
// }

.thumb3d {
    width: 400px;
    height: 300px;
    margin: 70px auto;
    perspective: 1000px;
}

.thumb3d a {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
		url("https://d13yacurqjgara.cloudfront.net/users/269311/screenshots/1508393/the_optimist_lives_on_by_huanle-d6yprp1_o_1x.jpg");
    background-size: 0, cover;
    transform-style: preserve-3d;
    transition: all 0.5s;
}

.thumb3d:hover a {
    transform: rotateX(80deg);
    transform-origin: bottom;
}
.thumb3d a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 36px;
    background: inherit;
    background-size: cover, cover;
    background-position: bottom;
    transform: rotateX(90deg);
    transform-origin: bottom;
}
.thumb3d a span {
    color: white;
    text-transform: uppercase;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font: bold 12px/36px "Open Sans";
    text-align: center;
    transform: rotateX(-89.99deg);
    transform-origin: top;
    z-index: 1;
}
.thumb3d a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.5);
    transition: all 0.5s;
    opacity: 0.15;
    transform: rotateX(95deg) translateZ(-80px) scale(0.75);
    transform-origin: bottom;
}

.thumb3d:hover a:before {
    opacity: 1;
    box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5);
    transform: rotateX(0) translateZ(-60px) scale(0.85);
}


/* FX-panorama */
// html, body {
//   height: 100%; width: 100%;
// }
// body {
//   margin: 0;
//   background: #E3E3E3;
//   font-family: "Times New Roman", Times, serif;
// }
// h1 {
//   text-align: center;
//   margin: 0;
//   font-size: 28px;
//   font-style: italic;

//   color: #FFF;
//   text-shadow: 1px 1px 2px #AAA;
//   padding: 40px 0 0 0;
// }
// h2 {
//   text-align: center;
//   margin: 0;
//   font-size: 18px;
//   font-style: italic;
//   font-weight: normal;
//   color: #FFF;
//   text-shadow: 1px 1px 2px #AAA;
//   padding: 10px 0 20px 0;
// }
.panorama-wrap {
  background: #FFF;
  padding: 10px;
  box-shadow: 0 0 3px #AAA;
  margin: 0 auto;
  height: 400px; width: 400px;
  border-radius: 3px;
}
#demo {
  height: 100%; width: 100%;
  overflow: hidden;
  position: relative;
  -webkit-perspective: 300px;
  -moz-perspective: 300px;
  perspective: 300px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
#loader {
  position: absolute;
  left: 0; top: 198px;
  height: 4px;
  background: #222;
  border-radius: 2px;
}
#panorama {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
#panorama, #panorama .face {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
#panorama .face, .panorama-label {
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  backface-visibility:hidden;
}
#panorama .face:nth-child(1) {
  background-image: url("http://cs617727.vk.me/v617727366/942f/DqbS0IRIATA.jpg");
  -webkit-transform: rotateX(90deg) translateZ(-199px);
  -moz-transform: rotateX(90deg) translateZ(-199px);
  transform: rotateX(90deg) translateZ(-199px);
}
#panorama .face:nth-child(2) {
  background-image: url("http://cs617727.vk.me/v617727366/9436/Ig4ieHZXvNo.jpg");
  -webkit-transform: rotateX(-90deg) translateZ(-199px);
  -moz-transform: rotateX(-90deg) translateZ(-199px);
  transform: rotateX(-90deg) translateZ(-199px);
}
#panorama .face:nth-child(3) {
  background-image: url("http://cs617727.vk.me/v617727366/943d/g8xqn7S87kQ.jpg");
  -webkit-transform: rotateY(90deg) translateZ(-199px);
  -moz-transform: rotateY(90deg) translateZ(-199px);
  transform: rotateY(90deg) translateZ(-199px);
}
#panorama .face:nth-child(4) {
  background-image: url("http://cs617727.vk.me/v617727366/9444/DfhvfFfTarY.jpg");
  -webkit-transform: rotateY(-90deg) translateZ(-199px);
  -moz-transform: rotateY(-90deg) translateZ(-199px);
  transform: rotateY(-90deg) translateZ(-199px);

}
#panorama .face:nth-child(5) {
  background-image: url("http://cs617727.vk.me/v617727366/944b/-McVeNNxf-A.jpg");
  -webkit-transform: translateZ(-199px);
  -moz-transform: translateZ(-199px);
  transform: translateZ(-199px);
}
#panorama .face:nth-child(6) {
  background-image: url("http://cs617727.vk.me/v617727366/9452/w1bBTnHANig.jpg");
  -webkit-transform: rotateY(180deg) translateZ(-199px);
  -moz-transform: rotateY(180deg) translateZ(-199px);
  transform: rotateY(180deg) translateZ(-199px);
}

.panorama-label {
  position: absolute;
  color: #FFF;
  font-size: 16px;
  text-shadow: 1px 1px 2px #000;
  padding: 3px 3px 3px 0;
  font-style: italic;
}
.panorama-label:before, .label hr {
  position: absolute;
  left: 0; bottom: 0;
  height: 2px;
  background: #FFF;
}
.panorama-label:before {
  content: '';
  width: 100%;
  box-shadow: 1px 1px 2px rgba(0,0,0,.50);
}
.panorama-label hr {
  margin: 0; border: 0;
  box-shadow: 1px -1px 2px rgba(0,0,0,.50);
  -webkit-transform: rotate(110deg);
  -moz-transform: rotate(110deg);
  transform: rotate(110deg);
  -webkit-transform-origin: 1px 1px;
  -moz-transform-origin: 1px 1px;
  transform-origin: 1px 1px;
}
.panorama-label hr:before {
  content: '';
  position: absolute;
  right: -3px; top: -3px;
  height: 8px; width: 8px;
  background: #FFF;
  border-radius: 4px;
  box-shadow: 1px -1px 2px rgba(0,0,0,.50);
}

#l1 {
  left: 140px; bottom: 30px;
  -webkit-transform: translateZ(50px);
  -moz-transform: translateZ(50px);
  transform: translateZ(50px);
}
#l1 hr {width: 30px;}

#l2 {
  left: 190px; bottom: 70px;
  -webkit-transform: translateZ(70px);
  -moz-transform: translateZ(70px);
  transform: translateZ(70px);
}
#l2 hr {width: 70px;}

#l3 {
  left: 190px; bottom: 50px;
  -webkit-transform: translateZ(30px);
  -moz-transform: translateZ(30px);
  transform: translateZ(30px);
}
#l3 hr {width: 50px;}
