<!--The content below is only a placeholder and can be replaced.-->
<!-- algunos elementos from angular material-->
<mat-toolbar color="primary">
    <div class="carousel-title">
        <h6>AVR3DStudio</h6>
    </div>
    <!-- menu from mat -->
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <i class="material-icons">face</i>
        <mat-icon>more_vert</mat-icon>
      </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>
          <mat-icon>dialpad</mat-icon>
          <span>Redial</span>
        </button>
        <button mat-menu-item disabled>
          <mat-icon>voicemail</mat-icon>
          <span>Check voicemail</span>
        </button>
        <button mat-menu-item>
          <mat-icon>notifications_off</mat-icon>
          <span>Disable alerts</span>
        </button>
    </mat-menu>
    <!-- menu from mat -->
</mat-toolbar>
<mat-tab-group class="demo-tab-group">
    <mat-tab label="Raised Buttons">
        <div class="demo-tab-content">
            <mat-card>
                <button mat-raised-button>Basic</button>
                <button mat-raised-button color="primary">Primary</button>
                <button mat-raised-button color="accent">Accent</button>
                <button mat-raised-button color="warn">Warn</button>
                <button mat-raised-button disabled>Disabled</button>
                <a mat-raised-button routerLink=".">Link</a>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Icon Buttons">
        <div class="demo-tab-content">
            <mat-card>
                <button mat-icon-button>
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
                <button mat-icon-button color="primary">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
                <button mat-icon-button color="accent">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
                <button mat-icon-button color="warn">
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
                <button mat-icon-button disabled>
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
            </mat-card>
        </div>
    </mat-tab>
    <mat-tab label="Fab Buttons">
        <div class="demo-tab-content">
            <mat-card>
                <button mat-fab>Basic</button>
                <button mat-fab color="primary">Primary</button>
                <button mat-fab color="accent">Accent</button>
                <button mat-fab color="warn">Warn</button>
                <button mat-fab disabled>Disabled</button>
                <button mat-fab>
          <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>
                <a mat-fab routerLink=".">Link</a>
            </mat-card>
        </div>
    </mat-tab>
</mat-tab-group>
<!-- algunos elementos from angular material-->

<!-- elemntos de bootstrap 4
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="..." alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="..." alt="Third slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div> -->

<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Custom Toolbar</span>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span>Second Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon">verified_user</mat-icon>
    </mat-toolbar-row>

    <mat-toolbar-row>
        <span>Third Line</span>
        <span class="example-spacer"></span>
        <mat-icon class="example-icon">favorite</mat-icon>
        <mat-icon class="example-icon">delete</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>

<mat-card class="example-card">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="AVR 3D Studio">
    <mat-card-content>
        <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan. A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
</mat-card>

<!-- FX_ hover 3d thumb -->
<div class="thumb3d">
    <a href="#3dtumbado">
        <span>the optimist lives on</span>
    </a>
</div>

<!-- FX-panorama -->
<div class="panorama-wrap">
    <div id="demo">

        <div id="loader"></div>

        <div id="panorama">
            <div class="face f1"></div>
            <div class="face f2"></div>
            <div class="face f3">
            </div>
            <div class="face f4">
                <div class="panorama-label" id="l1">
                    Public Library
                    <hr />
                </div>
            </div>
            <div class="face f5">
                <div class="panorama-label" id="l2">
                    Hospital
                    <hr />
                </div>
            </div>
            <div class="face f6">
                <div class="panorama-label" id="l3">
                    Middle school
                    <hr />
                </div>
            </div>
        </div>
    </div>
</div>