// .fx-btnselect al seleccionarse ese elemento se cambia tridimensionalmente girando de arriba a abjao
// añadir fx-btnselect a aquellos botones o enlaces que quieras que al tener la clase .active tengan el efecto

// .fx-btnselect {
//     transform-style: preserve-3d;
//     transition: all 800ms ease;
//  }

// .fx-btnselect:after {
//   top: -100%;
//   left: 0;
//   position: absolute;
//   width: 100%;
//   color: @logo_c !important;
//   content: "Selected"; // "\f046"; //"\1f533"; // \1f533 cuadrado border 3px content:"\f046";
//   // content:"\f046";  fa-check-square-o
//   //.my-orange(); //.my-greyblue(); // .my-yellow();

//   background-color: fade(@dropdown-border-r, 40%);//#73b88f; //fade(aqua, 40%);
//   // background-image: url('../../images/corporativo/logo/glass-button.png');
//   // background-image: url('../../images/corporativo/logo-button.png');
//   background-position:  center center ;
//   background-size: 25% 50%;
//   background-repeat: no-repeat;

//   color: #000;//@item-like; //@orange2;
//   font-size: 3rem;
//   border-radius: 5px;
//   transform-origin: left bottom;
//   transform: rotateX(90deg);
//   border: 2px solid @primary;

//  }
//  .fx-btnselect.active {
//    top:100%;
//    left:0;
//     transform-origin: center bottom;
//     transform: rotateX(-90deg) translateY(100%);
//     -webkit-transform: rotateX(-90deg) translateY(100%);
//     -moz-transform: rotateX(-90deg) translateY(100%);
//     -o-transform: rotateX(-90deg) translateY(100%);
//  }

 .fx-btnselect{
    transform-style: preserve-3d;
    transition: all 800ms ease;
  }
  .fx-btnselect.active{
    background: rgba(248, 248, 248, .95);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #363636;
  }
