<!-- ###############################################################  container sticky | menu1 :icons1-->
<div class="container sticky no-padding" id="#wrap-menuslider">
    <app-menu-slider></app-menu-slider>
</div>
<!-- ###############################################################  container sticky | menu:icons1-->
<!-- ###############################################################  container | content:Main | aside-->
<div class="container no-padding sticky-down">
    <!-- ##################### main ###################### -->
    <app-main></app-main>
    <!-- ##################### main ###################### -->
    <!-- ##################### aside-right ###################### -->
    <app-aside></app-aside>
    <!-- ##################### aside-right ###################### -->

</div>
<!-- ###############################################################  container | content:Main | aside-->