<!-- ############## MENU slider  -->
<div class="blog_filter icons1 myboxed ">
    <ul class="filter_menu" id="menuslider">
        <!-- <li class="current-menu-item"><a href="#"><i class="material-icons">panorama</i><span> Efectos Parallax</span></a></li> -->
        <!-- <li><a href="#"><i class="material-icons">3d_rotation</i><i class="material-icons">create</i><span>3d Design<sup class="note">112</sup></span></a></li> -->
        <li><a href="#" data-button="0" class="active fx-btnselect"><i class="material-icons">aspect_ratio</i><span>Realidad Aumentada<sup class="note">Video</sup></span> RA</a></li>
        <li><a href="#" data-button="1" class="fx-btnselect"><i class="material-icons">description</i><span>Revista<sup class="note">Info</sup></span>Revista </a></li>
        <li><a href="#" data-button="2" class="fx-btnselect"><i class="material-icons">3d_rotation</i><span> Arquitecture<sup class="note">3D</sup></span>3D </a></li>
        <li><a href="#" data-button="3" class="fx-btnselect"><i class="myicons icon-cardboardvr"></i><span>Visita Virtual<sup class="note">360</sup></span>360</a></li>
        <!-- <li><a href="#" data-button="4" class="fx-btnselect"><i class="material-icons">web</i><i class="material-icons">extension</i><span>.obj<sup class="note">3D bottle</sup></span></a></li>
        <li><a href="#" data-button="5" class="fx-btnselect"><i class="material-icons">web</i><i class="material-icons">extension</i><span><sup class="note">Tour virtual</sup></span></a></li> -->
    </ul>
</div>
<!-- ############## MENU slider  -->
